body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: palevioletred;
    padding: 20px;
}

.right {
    position: initial;
    background-color: palegoldenrod;
    padding: 20px;
}

.Contact,
.Skills,
.Language,
.Hobbies,
.Title,
.Summary,
.Experience,
.Education {
    margin-bottom: 30px;
}

.h2 {
    background-color: black;
}